body {
    background: rgba(46, 49, 146, 0.25);
}

a {
    text-decoration: none;
    background-color: transparent;
}

.sidebar-logo img {
    max-width: 100%;
}

.sidebar-menu {
    border-right: 1px solid rgba(0,0,0,.0625);
    list-style: none;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: relative;
}

.logout-button {
    background: #2e3192;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    font-family: Arial;
    border: none;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
}

.logout-button a {
    color: #fff;
}

.sidebar-menu li {
    position: relative;
}

.sidebar-menu>li>a {
    display: block;
    font-size: 15px;
    font-weight: 500;
    font-family: Arial;
    padding: 15px 15px;
    position: relative;
    white-space: nowrap;
    border-bottom: 1px solid #7955482b;
}

.sidebar-menu li a {
    color: #72777a;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.sidebar {
    background-color: #fff;
    bottom: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    width: 280px;
    z-index: 1000;
}

.sidebar-inner {
    position: relative;
    height: 100%;
}

.title {
    font-size: 30px;
    font-family: "Arial";
    position: relative;
    left: 350px;
}

.choices {
    font-family: Arial;
    position: relative;
    top: 40px;
    left: 350px;
}

.text {
    font-family: Arial;
    position: relative;
    top: 40px;
    left: 350px;
}

.canvas{
    background: #ffffff;
    position: absolute;
    top: 160px;
    left: 560px;
}